.DS_Store
Library/metadata
Temp
MirrorMirror.userprefs
*.meta
AssetServerCacheV3
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
